#userSearchBar {
  width: 100%;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.splashContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background: white;
}

.homePage .navbar .container {
  display: flex;
  justify-content: center;
}


.popularHeading {
  width: 100%;
  text-align: center;
}

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#splashVideo {
  width: 100%;
}

.splashHeader {
  position: relative;
  height: 500px;
  width: 100%;
}

.jumboButton {
  background-color: black !important;
  border-color: black !important;
  border-color: grey !important;
  color: white !important;
  opacity: 0.6 !important;
}

.jumboButton:hover {
  opacity: .8 !important;
}

.thumbNail {
  top: 0;
  left: 0;
  width: 200px;
  height: 260px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  background: rgba(0 , 0 , 0 , 0.8);
  margin: 10px 10px;
  font-family: Helvetica, sans-serif;
  transition: border-left, 0.2s, ease;
}

.thumbNail:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
  border-left: 5px solid orange;
  border-top: 5px solid orange;
}

.popularName {
  margin-left: 10px;
}

.popularInfo {
  color: lightgrey;
}

.popularFollowers {
  margin-left: 10px;
}

.popularIndex {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumb-photo-container {
  width: 100%;
  height: 160px;
  padding: 10px;
}

.thumb-photo {
  width: 100%;
  height: 150px;
  border-radius: 2px;
}

.splashJumbo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
}


.jumboHeader {
  font-size: 80px;
  margin: 0 auto;
}

.jumboContent {
  font-size: 40px;
}
