.routeDescription p{
  word-break: break-word;
}

.routeDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.routeDetailMap {
  width: 100%;
  min-height: 500px;
}

.commentHeader {
  margin-top: 0;
  margin-bottom: 4px;
}

.commentText {
  margin-bottom: 0;
  word-wrap: break-word;
}

.routeDetailButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 7%;
  left: 1%;
}

.routeInformation {
  width: 90%;
}


.detailButton {
  background-color: black ;
  border-color: black ;
  border-color: grey ;
  color: white ;
  opacity: 0.9 ;
}

.detailButton:hover {
  opacity: 1;
}

.form-control {
  word-wrap: break-word;
}

.routeDetailComments {
  width: 90%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
}

.commentsForm {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 1%;
}

.routeAuthorPic {
  margin: 10px;
  width: 100px;
  height: 100px;
}

.routeStatsPanel .panel-body p {
  margin: 10px;
}

.routeStatsPanel .panel-heading {
  background: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
}

.routeStats {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-top: 15px;
  margin-right: 1%;
}

.routeAuthorInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.routePanelInformation {
  display: flex;

}

.commentContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.commentItem {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.commentListImage {
  width: 40px;
  height: 40px;
  margin: 5px;
}
