
.routesIndex ul li {
  list-style-type: none;
}


.infoWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.iw-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.iw-description {
  text-wrap: break-word;
}

.iw-header {
   font-family: 'Open Sans Condensed', sans-serif;
   width: 100%;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #141f1f;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

.list-group-item {
  transition: border-left, 0.2s, ease;
}

.list-group-item:hover {
  border-left: 4px solid black;
}

.list-group {
  border: 1px solid #ddd;
}

.userToolbar {
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  width: 100%;
  background: white;
  padding-right: 5px;
}

.profilePicture {
  height: 60px;
  width: 60px;
  margin-left: 5px;
}

#profileUsername {
  font-weight: bold;
  padding-left: 5px;
}

.personalInfo {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: flex-end;
}

.userInfo {
  display: flex;
  width: 90%;
  justify-content: center;
  padding-bottom: 100px;
}

.routesHeader {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  height: 70px;
}


.buttonToolbar {
  display: flex;
  width: 100%;
  justify-content: center;
}

.routesIndexes {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: flex-start;*/
  width: 100%;
  background: white;
  padding-left: 5px;
}

.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.followButton {
  position: absolute;
  top: 7%;
  z-index: 1;
  left: 1%;

  background-color: black ;
  border-color: black ;
  border-color: grey ;
  color: white ;
  opacity: 0.9 ;
}

.followButton:hover {
  opacity: 1;
}

.list-group {
  width: 100%;
  margin-bottom: 0px !important;
}

.profileMap {
  width: 100%;
  min-height: 500px;
  z-index: 0;
}

.routesIndex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*border: 1px solid #ddd;*/
}

.routeIndexItem {
  cursor: pointer;
}

.userListGroup {
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  transition: border-left, 0.2s, ease;
}

.miniUserInfo {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.userListGroup:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  border-left: 4px solid black;
}

.userListImage {
  width: 40px;
  height: 40px;
  margin: 5px;
}

#routesIndexTabs {
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
}

#routesIndexTabs-tab-1 {
  border-left: 4px solid #00ff00 ;
}

#routesIndexTabs-tab-2 {
  border-left: 4px solid #ff6666;
}


#routesIndexTabs-tab-3 {
  border-left: 4px solid #4d88ff;
}

#followingTab {
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
}

#completedRoutesTitle {
  border-bottom: 5px solid #00ff00;
  border-radius: 5px;
}

#authoredRoutesTitle {
  border-bottom: 5px solid #4d88ff;
  border-radius: 5px;
}

#favoritedRoutesTitle {
  border-bottom: 5px solid #ff6666;
  border-radius: 5px;
}
